ion-row
{
    text-align: center;
}

ion-toolbar {
  --background: white;
}
ion-content{
  height: 80vh;
  overflow-y: auto;
  border-right: 3px solid whitesmoke;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  --background: white !important;
  &::-webkit-scrollbar {
      width: 0;
      height: 0;
  }
}
ion-modal {
  --background: white !important;
  color: black !important;
}

ion-content,
ion-header,
ion-toolbar,
ion-item,
ion-label,
ion-input,
ion-accordion,
p,
div {
  background-color: white !important;
  color: black !important;
}


// .type {
//   background-color: var(--ion-color-light);
//   padding: 10px 15px;
//   border-radius: 5px;
//   color: black;
// }

// .typeSelected {
//   background-color: var(--ion-color-dark);
//   color: white;
//   padding: 10px 15px;
//   border-radius: 5px;
// }

.type
{
    background-color: var(--ion-color-light);
    padding:10px 15px;
    border-radius: 5px;
}

.typeSelected
{
    background-color: var(--ion-color-dark);
    color:white;
    padding:10px 15px;
    border-radius: 5px;
}

  #map {
    width: 100%;
    height: 45vh;
  }
   
  .map-wrapper {
    position: relative;
   
    #map_center {
      position: absolute;
      z-index: 99;
      height: 40px;
      width: 40px;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -41px;
    }
  }

  .h
  {
    --min-height:10px !important;
  }

  ion-accordion
  {
    border-radius: 10px;
    margin-bottom: 40px;
  }