ion-row
{
    text-align: center;
}

ion-toolbar {
  --background: white;
}

.type
{
    background-color: var(--ion-color-light);
    padding:10px 15px;
    border-radius: 5px;
}

.typeSelected
{
    background-color: var(--ion-color-dark);
    color:white;
    padding:10px 15px;
    border-radius: 5px;
}

  #map {
    width: 100%;
    height: 45vh;
  }
   
  .map-wrapper {
    position: relative;
   
    #map_center {
      position: absolute;
      z-index: 99;
      height: 40px;
      width: 40px;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -41px;
    }
  }

  .h
  {
    --min-height:10px !important;
  }

  ion-accordion
  {
    border-radius: 10px;
    margin-bottom: 40px;
  }