ion-content {
    --background: var(--ion-color-light);
}


p {
    color: gray;
}

/* Default styles for laptop and larger screens */
ion-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    --padding-start: 10px;
    --padding-end: 10px;
    font-size: 20px;
    color: black;
  }
  
  /* Mobile view styles (up to 767px wide) */
  @media (max-width: 767px) {
    ion-input {
      margin-left: 1.8rem; /* Only apply margin-left in mobile */
    }
  }
  
.signup-card {
    // max-width: 500px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    // text-align: center;
    // padding: 10px;
    background: #ffffff;
}
.verify-button {
    width: 60%;
    margin: 0 auto; /* This centers the button horizontally */
    display: block; /* Ensures margin auto works */
  }
  

.headTitle {
    text-align: center;
}