img
{
    width:80%;
    margin-left: 10%;
    margin-top: 10%;
}

p
{
    font-family: auto;
}

h3
{
    margin-top: 10%;
}

.sek
{
    width:200px;border-radius: 20%;height: 200px;margin: auto;
}

.sek1
{
    width:98%;margin: auto;height: 20px;margin-top: 10px;
}