<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>

    <ion-title *ngIf="text">{{ text.cart }} <a
        style="float:right;font-size: 14px;color:white !important;margin-top: 5px;" routerLink="/tabs/home">{{
        text.go_back }}</a></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="isMobile ? true :false">

    <div *ngIf="!data">
      <ion-grid [fixed]="true">
        <ion-skeleton-text [animated]="true" class="sek" *ngFor="let fake of fakeData"></ion-skeleton-text>
      </ion-grid>
    </div>

    <div *ngIf="data && data.length > 0">

      <ion-row *ngIf="data && isMobile">
        <ion-col *ngIf="!isMobile" size="6"><img src="assets/ch.avif"></ion-col>
        <ion-col [size]="isMobile ? 12 : 6"
          style="background-color: #edf2fa;border-radius: 10px !important;margin-top: 20px;">

          <div class="ion-padding">
            <ion-item lines="none" *ngFor="let cart of data">
              <ion-label class="ion-text-wrap"><span style="font-weight: bold;font-size: 20px;">{{ cart.name }} - {{
                  cart.type }}</span> <ion-badge color="dark" style="float: right;">{{ cart.currency }}{{ cart.price }}
                </ion-badge>
                <span class="cart_desc">{{ cart.days }}

                  <a style="float:right;color:red !important" (click)="remove(cart.id)">{{ text.remove }}</a>

                </span>
              </ion-label>
            </ion-item>
            <ion-textarea label="{{ text.notes_order }}" name="notes" [(ngModel)]="notes" label-placement="floating"
              fill="outline" mode="md" class="msg"></ion-textarea><br>

            <ion-button mode="ios" color="dark" expand="block" (click)="continue()" *ngIf="!hasClick">{{ text.continue
              }}</ion-button>
            <ion-button mode="ios" expand="block" color="dark" type="button" *ngIf="hasClick"><ion-spinner
                name="crescent"></ion-spinner></ion-button>
          </div>


        </ion-col>
      </ion-row>
      <ion-card>
      <ion-row *ngIf="data && !isMobile">
          <ion-col size="8">
            <ion-card-content class="scrollable-content"> 
              <ion-row *ngFor="let selected_item of data">
                <ion-col *ngIf="!isMobile" size="4">
                  <img src="{{ selected_item.img }}" style="margin-top: 15px;">
      
                </ion-col>
                <ion-col [size]="isMobile ? 12 : 8">
                  <!-- <img src="{{ data.img }}" *ngIf="isMobile"> -->
                  <div class="ion-padding">
                    <ion-item lines="none" style="margin-top: -20px;margin-left: -20px;">
                      <ion-label class="ion-text-wrap">
                        <ion-row>
                          <ion-col size="7">
                            <b class="iname_price">{{ selected_item.name }}</b>
                            <span style="display: block;color:gray;font-size: 14px;">{{
                              selected_item.subscribe
                              }} {{ text.people_subscribe }}</span>
                          </ion-col>
                          <ion-col size="5" style="text-align: right;">
                            <span class="iname_price">{{ selected_item.price | currency:'INR' }}&nbsp;/&nbsp;{{ text.day
                              }}</span>
                          </ion-col>
                        </ion-row>
                        <!-- <span *ngIf="selected_item.rating > 0" class="rating">
                                <ion-icon name="star" class="star" *ngFor="let it of [].constructor(selected_item.rating)"
                                  color="primary"></ion-icon>
                              </span> -->
                      </ion-label>
                    </ion-item>
                    <br>
                    <!-- <ion-item lines="none">
                            <ion-label class="ion-text-wrap"><b>Description</b>
                              <span style="display: block;margin-top: 5px;" class="dtime">{{ selected_item.desc }}</span>
                            </ion-label>
                            <span>
                              Our Diabetic Fruit Box is thoughtfully curated for individuals managing diabetes, ensuring a
                              delicious and health-conscious selection of fruits. Each fruit is carefully chosen to be low in
                              sugar while still being rich in essential nutrients, fiber, and antioxidants.
                            </span>
                          </ion-item> -->
                    <div class="description">
                      <ion-label class="ion-text-wrap"><b>Description</b><br>
                      </ion-label>
                      <span>
                        Our Diabetic Fruit Box is thoughtfully curated for individuals managing diabetes, ensuring a
                        delicious and health-conscious selection of fruits. Each fruit is carefully chosen to be low in
                        sugar while still being rich in essential nutrients, fiber, and antioxidants.
                      </span><br>
                      <ion-label class="ion-text-wrap"><b>What's Inside?</b></ion-label>
                      <ul style="margin-top: -1px;">
                        <li>
                          <b>Berries</b> (Strawberries, Blueberries, Blackberries) – Packed with fiber and antioxidants,
                          they help regulate blood sugar.
                        </li>
                        <li>
                          <b>Green Apples</b> – A crisp, fiber-rich fruit with a lower glycemic index.
                        </li>
                        <li>
                          <b>Guava</b> – High in fiber and vitamin C, known to aid in blood sugar control.
                        </li>
      
                        <li>
                          <b>Kiwis</b> – Loaded with vitamin C and fiber, helping with blood sugar balance.
                        </li>
                        <li>
                          <b>Avocados</b> – Though not sweet, they provide healthy fats that improve insulin
                          sensitivity.
                        </li>
                      </ul>
                      <span>
                        Why Choose Our Diabetic Fruit Box?
                      </span><br>
                      <span>
                        ✅ <strong> Low Glycemic Index Fruits</strong> – Helps prevent blood sugar spikes.
                      </span><br>
                      <span>
                        ✅ <strong>Rich in Fiber & Antioxidants</strong> – Supports digestion and overall health.
                      </span><br>
                      <span>
                        ✅ <strong>100% Fresh & Natural</strong> – No artificial sweeteners or preservatives.
                      </span><br>
                      <span>
                        ✅ <strong>Perfect for Snacking or Gifting</strong> – A thoughtful and healthy choice for loved
                        ones.
                      </span><br>
                      <span>
                        Enjoy a guilt-free, nutritious, and delicious fruit experience with our Diabetic Fruit Box!
                        🍏🍓🥑
                      </span><br>
                      <div style="margin-top: 12px;">
                        <ion-label class="ion-text-wrap"><b>Select Quantity :</b></ion-label>
                        <div class="quantity-field">
                          <button class="value-button decrease-button" (click)="decrement(selected_item)">-</button>
                          <div class="number"><span>{{selected_item.qty}}</span></div>
                          <button class="value-button increase-button" (click)="increment(selected_item)">+
                          </button>
                        </div>
                      </div>
      
                    </div>
      
      
      
                  </div>
      
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-col>
          <ion-col size="4" class="checkout_page">
              <div class="scrollable-content"  style="padding: 20px;">
                <ion-row>
                  <ion-col size="12">
                    <h3 class="total">Total Amount&nbsp;:&nbsp;<span>{{ total
                        | currency:'INR' }}</span></h3>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <p class="desc">{{ text.delivery_address_desc }}</p>
                    <ion-item lines="none" (click)="getAddress()" class="address">
                      <label>{{ text.delivery_address }}
      
                        <small *ngIf="address" class="address_1"> <br>{{ address.address }}</small>
      
                      </label>
                      <ion-icon name="location-outline" slot="start" color="dark"></ion-icon>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <p class="desc">{{ text.checkout_desc }}</p>
      
      
                    <ion-list>
                      <ion-radio-group [(ngModel)]="sub_time" (click)="startDate()">
                        <div class="radio-container">
                          <span *ngFor="let time of checkout_data?.time" lines="none" class="subscribed_type"
                            [ngClass]="{'selected_type': sub_time === time?.id}" (click)="sub_time = time?.id">
                            <ion-radio [value]="time?.id" class="hidden-radio"></ion-radio>
                            <span>{{ time?.title }}</span>
                          </span>
                        </div>
                      </ion-radio-group>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <p class="desc">{{ text.starting_date_desc }}</p>
      
                    <ion-item lines="none" class="address">
                      <ion-select label="{{ text.start_date }}" placeholder="Select" interface="popover"
                        [(ngModel)]="start_date" name="start_date" (ionChange)="startDate()">
                        <ion-select-option *ngFor="let date of checkout_data?.dates" [value]="date">{{
                          date }}</ion-select-option>
                      </ion-select>
                      <ion-icon name="calendar-outline" slot="start" color="dark"></ion-icon>
                    </ion-item>
                  </ion-col>
                </ion-row>
      
                <ion-row>
                  <ion-col size="12">
                    <p class="desc">{{ text.discount_desc }}</p>
                    <ion-item lines="none" class="address" (click)="getOffer()">
                      <label>{{ text.discount_offers }}
      
                        <small *ngIf="save" class="discount">{{ text.you_save }} {{
                          save | currency:'INR' }}</small>
      
                      </label>
                      <ion-icon name="receipt-outline" slot="start" color="dark"></ion-icon>
                      <ion-icon *ngIf="save" name="trash" slot="end" class="remove_discount" (click)="removeDiscount($event)"></ion-icon>

                    </ion-item>
                  </ion-col>
                </ion-row>
      
                <ion-row>
                  <ion-col size="12">
                    <h3 class="total" *ngIf="validate()">Total Payable Amount&nbsp;:&nbsp;<span *ngIf="!payble_amount">{{
                        total
                        | currency:'INR' }}</span>&nbsp;<s *ngIf="payble_amount">{{ total |
                        currency:'INR' }}</s>&nbsp;<span *ngIf="payble_amount">{{ total - save |
                        currency:'INR' }}</span></h3> <br>
                    <ion-button mode="ios" expand="block" color="dark" id="open-modal" expand="block" (click)="placeOrder()"
                      *ngIf="!isMobile">{{ text.checkout_button }}</ion-button>
                  </ion-col>
                </ion-row>
              </div>
          </ion-col>
      </ion-row>
    </ion-card>


    </div>

    <div *ngIf="data && data.length == 0">
      <br><br>
      <img src="assets/empty.webp" style="width: 70%;margin-left: 15%;">

      <h1 align="center">{{ text.cart_empty }}</h1>

      <div class="ion-padding" style="text-align: center;">
        <ion-button routerLink="/tabs/home" [expand]="isMobile ? 'block' : ''" mode="ios" color="dark">{{
          text.start_item }}</ion-button>
      </div>


    </div>
  </ion-grid>

</ion-content>