ion-content
{
    --background:var(--ion-color-light);
}

ion-item
{
    border-radius: 10px;
    margin-bottom: 10px;
}

.sek
{
    height: 50px;width:100%;border-radius: 10px;
}

.mobile
{

}

.web
{
    --min-height:70px
}