<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="text">
  
<img src="assets/mail.svg">
<h3>{{ text.contact_title }}</h3>
<p>{{ text.contact_desc }}</p>

<br>
<form #form="ngForm" (ngSubmit)="send(form.value)">
<ion-input label="Your name" name="name" ngModel label-placement="floating" fill="outline" mode="md" [disabled]="hasClick"></ion-input><br>
<ion-input label="Phone" name="phone" ngModel label-placement="floating" fill="outline" mode="md" [disabled]="hasClick"></ion-input><br>
<ion-input label="Email" name="email" ngModel label-placement="floating" fill="outline" mode="md" [disabled]="hasClick"></ion-input><br>
<ion-textarea label="Your Message" name="msg" ngModel label-placement="floating" fill="outline" mode="md" class="msg" [disabled]="hasClick"></ion-textarea><br>
<ion-button mode="ios" expand="block" color="dark" type="submit" *ngIf="!hasClick">{{ text.send }}</ion-button>
<ion-button mode="ios" expand="block" color="dark" type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>

  </form>
</ion-content>
