ion-content
{
}

ion-footer
{
    background: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

h4
{
    font-weight: bold;
}

p
{
    color:gray;
}

// ion-input
// {
//     border-radius:10px !important;
// }

ion-input{
    margin-top: 15px;
    color: black;
    }

