/* Hide the tab bar on larger screens */
@media (min-width: 768px) {
    ion-tab-bar {
      display: none;
    }
  }

  /* Ensure the tab bar is visible on smaller screens */
  @media (max-width: 768px) {
    ion-tab-bar {
      display: flex;
    }
  }

  .custom-badge {
    position: absolute;
    top: 5px;
    right: 0px;
    background: var(--ion-color-dark);
    color: white;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  