<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
  <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
  <ion-title *ngIf="text">{{ text.address_book }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="text">
  <ion-grid [fixed]="true">

<div *ngIf="!data">
<ion-skeleton-text [animated]="true" class="sek1" *ngFor="let fake of fakeData"></ion-skeleton-text>
</div>

<div *ngIf="data && data.length == 0" style="margin-top: 30%;">
<p align="center">{{ text.no_address }}</p>
</div>


<div *ngIf="data && data.length > 0">

<ion-row>
<ion-col [size]="isMobile ? 12 : 6" *ngFor="let address of data">
  <ion-card mode="ios">
    <ion-card-header>
    <ion-card-subtitle>{{ address.type }}</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
    {{ address.address }} {{ address.floor }} {{ address.landmark }}
    </ion-card-content>
    <ion-button fill="clear" color="danger" (click)="deleteAddress(address.id)"><ion-icon name="trash-outline"></ion-icon> &nbsp;{{ text.remove }}</ion-button>
    </ion-card>
</ion-col>
</ion-row>


</div>

</ion-grid>
</ion-content>
