<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
  <ion-buttons><ion-back-button></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="text">

<ion-grid [fixed]="true">
<ion-row>
<ion-col [size]="isMobile ? 12 : 6"><img src="assets/login.png"></ion-col>
<ion-col [size]="isMobile ? 12 : 6"><br><br>
  <ion-card style="padding: 15px;">

 
  <h2  class="headTitle" align="center">{{ text.forgot_title }}</h2>
  <p align="center" style="color:gray;font-size: 14px;">{{ text.forgot_desc }}</p>  
  <br><br>
  <form #form="ngForm" (ngSubmit)="forgot(form.value)">
  
    <ion-input label="{{ text.phone }}" name="phone" ngModel label-placement="floating" fill="outline" mode="md" *ngIf="setting.verify_type == 1 || setting.verify_type == 2" [disabled]="hasClick" required></ion-input>
  
    <ion-input label="{{ text.email }}" name="email" ngModel label-placement="floating" fill="outline" mode="md" *ngIf="setting.verify_type == 3 || setting.verify_type == 0" [disabled]="hasClick" required></ion-input>
  
    <br>
    <ion-button mode="ios" expand="block" color="dark" type="submit" *ngIf="!hasClick">{{ text.reset_password }}</ion-button>
    <ion-button mode="ios" expand="block" color="dark" type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>
  
  </form>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>





</ion-content>
