ion-textarea
{
    background-color: white;
}

ion-item
{
    margin-bottom: 10px;
}

.day
{
    background-color: var(--ion-color-light);
    padding:10px 10px;
    width:auto !important;
    text-align: center;
    border-radius: 5px;
}

.selected
{
    background-color: var(--ion-color-dark);
    color:white;
    padding:10px 10px;
    width:auto !important;
    text-align: center;
    border-radius: 5px;
}

.dayDiv
{
    background-color: white;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.sek
{
    width: 96%;height: 50px;border-radius: 10px;margin-left:2%;margin-top: 8%;
}

.desc
{
    font-size: 14px;color:gray;padding:0px 10px;
}

.cart_desc
{
    display: block;margin-top: 5px;color:gray;font-size: 15px;
}

.msg
{
    height: 100px;
    margin-top: 20px;
}
.iname {
    font-size: 18px;
    font-weight: 700;
    color: var(--ion-color-dark);
}

.iname_price {
    font-size: 20px;
    font-weight: 700;
}

.total {
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    color: black;
}
.mobile_total {
    font-weight: 600;
    font-size: 15px;
    text-align: right;
    color: black;
}

.trash_icon {
    margin-top: -1px;
    color: rgb(208, 1, 1);
    cursor: pointer;
    font-size: 20px;
    border: 1px solid var(--ion-color-light);
    border-radius: 5px;
    padding: 5px;
    background-color: whitesmoke;
}

.quantity-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    // margin: 0 auto;    
}

.quantity-field .value-button {
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 100%;
    padding: 0;
    background: #eee;
    outline: none;
    cursor: pointer;
}

.quantity-field .value-button:hover {
    background: rgb(230, 230, 230);
}

.quantity-field .value-button:active {
    background: rgb(210, 210, 210);
}

.quantity-field .decrease-button {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    color: rgb(208, 1, 1);
    font-size: 25px;
    cursor: pointer;
}

.quantity-field .increase-button {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
    color: green;
    font-size: 25px;
    cursor: pointer;

}

.number {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    background-color: 1px solid #fff;
    margin: 0px;
    width: 60px;
    height: 100%;
    padding: 0;
    outline: none;
    display: inline;
    font-size: 20px;
    // cursor: pointer;
}

.address {
    --min-height: 60px !important;
    --padding-start: 20px;
    --padding-end: 20px;
    font-size: 18px;
    // --background: var(--ion-color-light);
    border:1px dashed var(--ion-color-dark);
    width: 100%;
    border-radius: 10px;
    border-width: 1px; /* Adjust the width */
  
}
.scrollable-content {
    height: 78vh;
    overflow-y: auto;
    border-right: 3px solid var(--ion-color-light);
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

}

.card_title{
    width: 100%;
    font-weight: bold;
    background-color: var(--ion-color-dark);
    padding: 10px;
    border-radius: 10px;
}
.card_title ion-card-title{
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-light);
}
.cart_item{
    margin-top: 15px;
}
ion-card{
    // width: 100%;
    // height: 82vh;
    margin: 1rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    // box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
ion-content {
    --background: var(--ion-color-light)
}

.discount
  {
    display:block;margin-top: 5px;color:red;
  }
  .remove_discount{
   color:red;
   font-size: 16px;
   cursor: pointer;
   margin-top: 30px;
  }