<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

<img src="assets/location.png">
<br><br>

<h3 style="font-size: 15px;" align="center">Select your location for continue, So we can display nearest store around you.</h3>


</ion-content>
<ion-footer class="ion-no-border">
<div class="ion-padding">
  <ion-button mode="ios" color="dark" expand="block" routerLink="/map" routerDirection="forward">Choose Location</ion-button>
  <br><br>
</div>
</ion-footer>
