<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>

    <ion-title *ngIf="text">Privacy Policy <a
        style="float:right;font-size: 14px;color:white !important;margin-top: 5px;" routerLink="/tabs/home">{{
        text.go_back }}</a></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="isMobile ? true :false">

    <!-- <div *ngIf="!data">
      <ion-grid [fixed]="true">
        <ion-skeleton-text [animated]="true" class="sek" *ngFor="let fake of fakeData"></ion-skeleton-text>
      </ion-grid>
    </div> -->
    <ion-card>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div class="container-fluid">
          <h1>Introduction</h1>
          <p>
            This Privacy Policy outlines our practices regarding the collection, use, and disclosure of your information
            when you use the Daily fruit App. It also explains your privacy rights and how the law protects you.
          </p>
          <p>
            We use your personal data to provide and improve the Daily fruit App. By using the Daily fruit App, you
            agree to the collection and use of information in accordance with this Privacy Policy. This Privacy Policy
            has been created with the help of the Free Privacy Policy Generator.
          </p>

          <h1>Interpretation and Definitions</h1>
          <h3>Interpretation</h3>
          <p>The words with capitalized initial letters have meanings defined under the following conditions. These
            definitions shall have the same meaning regardless of whether they appear in singular or plural.
          </p>
          <h3>Definitions</h3>
          <ul>
            <li><strong>Account:</strong> A unique account created for you to access our Daily fruit App or parts of our
              Daily fruit App.</li>
            <li><strong>Affiliate:</strong> An entity that controls, is controlled by, or is under common control with a
              party, where “control” means ownership of 50% or more of the shares, equity interest, or other securities
              entitled to vote for election of directors or other managing authority.</li>
            <li><strong>Company:</strong> (referred to as either "the Company," "We," "Us," or "Our" in this Agreement)
              refers to Daily fruit App.</li>
            <li><strong>Cookies:</strong> Small files placed on your computer, mobile device, or any other device by a
              website, containing the details of your browsing history on that website among its many uses.</li>
            <li><strong>Country:</strong> Refers to Andhra Pradesh, India.</li>
            <li><strong>Device:</strong> Any device that can access the Daily fruit App, such as a computer, a
              cellphone, or a digital tablet.</li>
            <li><strong>Personal Data:</strong> Any information that relates to an identified or identifiable
              individual.</li>
            <li><strong>Service:</strong> Refers to the Daily fruit App.</li>
            <li><strong>Service Provider:</strong> Any natural or legal person who processes the data on behalf of the
              Company. It refers to third-party companies or individuals employed by the Company to facilitate the Daily
              fruit App, to provide the Daily fruit App on behalf of the Company, to perform services related to the
              Daily fruit App, or to assist the Company in analyzing how the Daily fruit App is used.</li>
            <li><strong>Usage Data:</strong> Data collected automatically, either generated by the use of the Daily
              fruit App or from the Daily fruit App infrastructure itself (for example, the duration of a page visit).
            </li>
            <li><strong>Website:</strong> Refers to Daily fruit App, accessible from <a
                href="[Daily fruit App URL]">Daily fruit App</a>.</li>
            <li><strong>You:</strong> The individual accessing or using the Daily fruit App, or the company, or other
              legal entity on behalf of which such individual is accessing or using the Daily fruit App, as applicable.
            </li>
          </ul>
          <h1>Collecting and Using Your Personal Data
          </h1>
          <h3>
            Types of Data Collected Personal Data
          </h3>
          <p>
            While using Our Daily fruit App, We may ask you to provide us with certain personally identifiable
            information that can be used to contact or identify you. Personally identifiable information may include,
            but is not limited to:
          </p>
          <ul>
            <li>Phone number
            </li>
            <li>
              Usage Data
            </li>
          </ul>
          <h1>Usage Data
          </h1>
          <p>
            Usage Data is collected automatically when using the Daily fruit App. It may include information such as
            your device’s Internet Protocol address (e.g., IP address), browser type, browser version, the pages of our
            Daily fruit App that you visit, the time and date of your visit, the time spent on those pages, unique
            device identifiers, and other diagnostic data. When you access the Daily fruit App by or through a mobile
            device, we may collect certain information automatically, including, but not limited to, the type of mobile
            device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating
            system, the type of mobile Internet browser you use, unique device identifiers, and other diagnostic data.
            We may also collect information that your browser sends whenever you visit our Daily fruit App or when you
            access the Daily fruit App by or through a mobile device.
          </p>
          <h1>
            Tracking Technologies and Cookies
          </h1>
          <p>We use Cookies and similar tracking technologies to track activity on our Daily fruit App and store certain
            information. Tracking technologies used are beacons, tags, and scripts to collect and track information and
            to improve and analyze our Daily fruit App. The technologies we use may include:
          </p>
          <ul>
            <li><strong>Cookies or Browser Cookies:</strong> A cookie is a small file placed on your device. You can
              instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do
              not accept cookies, you may not be able to use some parts of our Daily fruit App. Unless you have adjusted
              your browser setting to refuse cookies, our Daily fruit App may use cookies.</li>

            <li><strong>Web Beacons:</strong> Certain sections of our Daily fruit App and our emails may contain small
              electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs).
              These allow the Company to, for example, count users who have visited those pages or opened an email and
              for other related website statistics (e.g., recording the popularity of a certain section and verifying
              system and server integrity).</li>

            <li><strong>Types of Cookies:</strong>
              <ul>
                <li><strong>Persistent Cookies:</strong> Remain on your personal computer or mobile device when you go
                  offline.</li>
                <li><strong>Session Cookies:</strong> Deleted as soon as you close your web browser.</li>
              </ul>
            </li>

            <li><strong>We use both Session and Persistent Cookies for the purposes set out below:</strong>
              <ul>
                <li><strong>Necessary / Essential Cookies</strong>
                  <ul>
                    <li><strong>Type:</strong> Session Cookies</li>
                    <li><strong>Administered by:</strong> Us</li>
                    <li><strong>Purpose:</strong> These Cookies are essential to provide you with services available
                      through the Daily fruit App and to enable you to use some of its features. They help to
                      authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the
                      services you have asked for cannot be provided, and we only use these Cookies to provide you with
                      those services.</li>
                  </ul>
                </li>

                <li><strong>Cookies Policy / Notice Acceptance Cookies</strong>
                  <ul>
                    <li><strong>Type:</strong> Persistent Cookies</li>
                    <li><strong>Administered by:</strong> Us</li>
                    <li><strong>Purpose:</strong> These Cookies identify if users have accepted the use of cookies on
                      the Daily fruit App.</li>
                  </ul>
                </li>

                <li><strong>Functionality Cookies</strong>
                  <ul>
                    <li><strong>Type:</strong> Persistent Cookies</li>
                    <li><strong>Administered by:</strong> Us</li>
                    <li><strong>Purpose:</strong> These Cookies allow us to remember choices you make when you use the
                      Daily fruit App, such as remembering your login details or language preference. The purpose of
                      these Cookies is to provide you with a more personal experience and to avoid you having to
                      re-enter your preferences every time you use the Daily fruit App.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <p>For more information about the cookies we use and your choices regarding cookies, please visit our Cookies
            Policy or the Cookies section of our Privacy Policy.
          </p>
          <h1>Use of Your Personal Data
          </h1>
          <p>The Company may use Personal Data for the following purposes:
          </p>
          <ul>
            <li><strong>To provide and maintain our Daily fruit App:</strong> Including monitoring the usage of our
              Daily fruit App.</li>

            <li><strong>To manage your Account:</strong> To manage your registration as a user of the Daily fruit App.
              The Personal Data you provide can give you access to different functionalities available to registered
              users.</li>

            <li><strong>For the performance of a contract:</strong> The development, compliance, and undertaking of the
              purchase contract for the products, items, or services you have purchased or of any other contract with us
              through the Daily fruit App.</li>

            <li><strong>To contact you:</strong> To contact you by email, telephone calls, SMS, or other electronic
              means, such as mobile application push notifications regarding updates or informative communications
              related to functionalities, products, or contracted services, including security updates.</li>

            <li><strong>To provide you:</strong> With news, special offers, and general information about goods,
              services, and events similar to those you have already purchased or enquired about, unless you opt out of
              receiving such information.</li>

            <li><strong>To manage your requests:</strong> To attend and manage your requests to us.</li>

            <li><strong>For business transfers:</strong> We may use your information to evaluate or conduct a merger,
              divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of our
              assets, in which Personal Data held by us about our Daily fruit App users is among the assets transferred.
            </li>

            <li><strong>For other purposes:</strong> We may use your information for purposes such as data analysis,
              identifying usage trends, evaluating promotional campaigns, and improving our Daily fruit App, products,
              services, marketing, and user experience.</li>
          </ul>

          <p>We may share your personal information in the following situations:</p>
          <ul>
            <li><strong>With Service Providers:</strong> To monitor and analyze the use of our Daily fruit App and to
              contact you.</li>

            <li><strong>For business transfers:</strong> We may share or transfer your personal information during
              negotiations of any merger, sale of Company assets, financing, or acquisition of our business.</li>

            <li><strong>With Affiliates:</strong> We may share your information with our affiliates, requiring them to
              honor this Privacy Policy. Affiliates include our parent company and any subsidiaries, joint venture
              partners, or other companies under common control with us.</li>

            <li><strong>With business partners:</strong> To offer you certain products, services, or promotions.</li>

            <li><strong>With other users:</strong> When you share personal information in public areas, it may be viewed
              by all users and distributed publicly. If you interact through a third-party social media service, your
              contacts may see your name, profile, pictures, and description of your activity.</li>

            <li><strong>With your consent:</strong> We may disclose your personal information for any other purpose with
              your consent.</li>
          </ul>

          <h1>Retention of Your Personal Data
          </h1>
          <p>The Company will retain your Personal Data only for as long as is necessary for the purposes set out in
            this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our
            legal obligations (for example, if we are required to retain your data to comply with applicable laws),
            resolve disputes, and enforce our legal agreements and policies.
          </p>
          <p>The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained
            for a shorter period of time, except when this data is used to strengthen the security or to improve the
            functionality of our Daily fruit App, or we are legally obligated to retain this data for longer time
            periods.
          </p>
          <h1>Transfer of Your Personal Data</h1>
          <p>Your information, including Personal Data, is processed at the Company’s operating offices and in any other
            places where the parties involved in the processing are located. It means that this information may be
            transferred to — and maintained on — computers located outside of your state, province, country, or other
            governmental jurisdiction where the data protection laws may differ from those of your jurisdiction.
          </p>
          <p>Your consent to this Privacy Policy followed by your submission of such information represents your
            agreement to that transfer.
          </p>
          <p>The Company will take all steps reasonably necessary to ensure that your data is treated securely and in
            accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization
            or a country unless there are adequate controls in place including the security of your data and other
            personal information.
          </p>
          <h1>Delete Your Personal Data
          </h1>
          <p>You have the right to delete or request that we assist in deleting the Personal Data that we have collected
            about you.
          </p>
          <p>Our Daily fruit App may give you the ability to delete certain information about you from within the Daily
            fruit App.
          </p>
          <p>You may update, amend, or delete your information at any time by signing in to your Account, if you have
            one, and visiting the account settings section that allows you to manage your personal information. You may
            also contact us to request access to, correct, or delete any personal information that you have provided to
            us.
          </p>
          <p>Please note, however, that we may need to retain certain information when we have a legal obligation or
            lawful basis to do so.
          </p>
          <h1>Disclosure of Your Personal Data</h1>
          <h3>Business Transactions
          </h3>
          <p>If the Company is involved in a merger, acquisition, or asset sale, your Personal Data may be transferred.
            We will provide notice before your Personal Data is transferred and becomes subject to a different Privacy
            Policy.
          </p>
          <h1>Law Enforcement
          </h1>
          <p>Under certain circumstances, the Company may be required to disclose your Personal Data if required to do
            so by law or in response to valid requests by public authorities (e.g., a court or a government agency).
          </p>
          <h1>Other Legal Requirements
          </h1>
          <p>The Company may disclose your Personal Data in the good faith belief that such action is necessary to:
          </p>
          <ul>
            <li>Comply with a legal obligation</li>
            <li>Protect and defend the rights or property of the Company</li>
            <li>Prevent or investigate possible wrongdoing</li>
            <li>Protect the personal safety of users or the public</li>
            <li>Protect against legal liability</li>
          </ul>
          <h1>Security of Your Personal Data
          </h1>
          <p>The security of your Personal Data is important to us, but remember that no method of transmission over the
            Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable
            means to protect your Personal Data, we cannot guarantee its absolute security.
          </p>
          <h1>Children’s Privacy
          </h1>
          <p>Our Daily fruit App does not address anyone under the age of 13. We do not knowingly collect personally
            identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware
            that your child has provided us with Personal Data, please contact us. If we become aware that we have
            collected Personal Data from anyone under the age of 13 without verification of parental consent, we take
            steps to remove that information from our servers.
          </p>
          <p>If we need to rely on consent as a legal basis for processing your information and your country requires
            consent from a parent, we may require your parent’s consent before we collect and use that information.
          </p>
          <h1>Links to Other Websites
          </h1>
          <p>Our Daily fruit App may contain links to other websites that are not operated by us. If you click on a
            third-party link, you will be directed to that third party’s site. We strongly advise you to review the
            Privacy Policy of every site you visit.</p>
          <p>We have no control over and assume no responsibility for the content, privacy policies, or practices of any
            third-party sites or services.
          </p>
          <h1>Changes to this Privacy Policy
          </h1>
          <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new
            Privacy Policy on this page.
          </p>
          <p>We will let you know via email and/or a prominent notice on our Daily fruit App, prior to the change
            becoming effective and update the “Last updated” date at the top of this Privacy Policy.
          </p>
          <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy
            are effective when they are posted on this page.</p>
          <h1>Contact Us
          </h1>
          <p>If you have any questions about this Privacy Policy, you can contact us by email:
           <a href="mailto: support@thedailyfruit.in" > support&#64;thedailyfruit.in</a>
          </p>
        </div><br><br><br>
     
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-card>
  </ion-grid>

</ion-content>