<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="signup-content" *ngIf="setting && text">
  <ion-grid>
    <ion-row >
      <ion-col size="2"></ion-col>
      <ion-col [size]="isMobile?'11':'8'">
        <ion-card class="signup-card">
          <ion-card-content>

            <div class="logo-container">
              <img src="assets/l.svg" class="signup-image" *ngIf="!isMobile">
            </div>

            <h2 class="signup-title">{{ text.signup_title }}</h2>
            <p class="signup-description">{{ text.signup_desc }}</p>

            <form #form="ngForm" (ngSubmit)="signup(form.value)">
              
              <!-- First Row -->
              <ion-row>
                <ion-col [size]="isMobile?'12':'6'">
                    <ion-input label="{{ text.name }}" label-placement="floating" fill="outline" type="text"
                      name="name" ngModel required helperText="{{ name_error }}" [disabled]="hasClick" mode="md"></ion-input>
                </ion-col>
                <ion-col  [size]="isMobile?'12':'6'">
                    <ion-input label="{{ text.email }}" label-placement="floating" fill="outline" type="email"
                      name="email" ngModel required helperText="{{ email_error }}" [disabled]="hasClick" mode="md"></ion-input>
                </ion-col>
              </ion-row>

              <!-- Second Row -->
              <ion-row>
                <ion-col [size]="isMobile?'12':'6'">
                    <ion-input label="{{ text.phone }}" label-placement="floating" fill="outline" type="tel"
                      name="phone" ngModel required helperText="{{ phone_error }}" [disabled]="hasClick" mode="md"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="10"></ion-input>
                </ion-col>
                <ion-col  [size]="isMobile?'12':'6'">
                    <ion-input label="{{ text.password }}" label-placement="floating" fill="outline" type="password"
                      name="password" ngModel required helperText="{{ password_error }}" [disabled]="hasClick" mode="md"></ion-input>
                      
                </ion-col>
              </ion-row>

              <!-- Last Row (Referral Code - Full Width) -->
              <ion-row>
                <ion-col size="12">
                    <ion-input label="{{ text.ref_code }}" label-placement="floating" fill="outline" type="text"
                      name="rcode" ngModel [disabled]="hasClick" mode="md"></ion-input>
                </ion-col>
              </ion-row>

              <!-- Terms and Conditions -->
              <ion-item lines="none" class="terms-item">
                <ion-checkbox slot="start" mode="ios" (ionChange)="termAgree()"></ion-checkbox>
                <ion-label class="ion-text-wrap">{{ text.iagree }} 
                  <a href="/terms-and-conditions" target="_blank">{{ text.term }}</a>
                  <!-- <span (click)="openTermsModal()">{{ text.term }}</span> -->

                </ion-label>
              </ion-item>

              <!-- Buttons -->
              <ion-button mode="ios" expand="block" color="dark" type="submit" *ngIf="!hasClick">
                {{ text.signup }}
              </ion-button>

              <ion-button mode="ios" expand="block" color="dark" type="button" *ngIf="hasClick">
                <ion-spinner name="crescent"></ion-spinner>
              </ion-button>

            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
