<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>How it Works</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
<ion-row>
<ion-col size="6"><img src="assets/choose.svg"></ion-col>
<ion-col size="6" class="txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</ion-col>
</ion-row>

</ion-content>
