<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<br>

<ion-grid [fixed]="true">
<ion-row>
<ion-col [size]="isMobile ? 12 : 6"><img src="assets/reset.avif"></ion-col>
<ion-col [size]="isMobile ? 12 : 6">
  <form #form="ngForm" (ngSubmit)="reset(form.value)">
    <h2>Set Your New Password</h2>
    <br>
    <ion-input type="password" label="Password" name="password" ngModel label-placement="floating" fill="outline" mode="md" [disabled]="hasClick"></ion-input><br>
    <ion-input type="password" label="Confirm Password" name="c_password" ngModel label-placement="floating" fill="outline" mode="md" [disabled]="hasClick"></ion-input><br>
    
    
    <ion-button mode="ios" expand="block" color="dark" type="submit" *ngIf="!hasClick">Reset Password</ion-button>
    <ion-button mode="ios" expand="block" color="dark" type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>
    
    </form>
</ion-col>
</ion-row>
</ion-grid>





</ion-content>
