

.sek
{
    width: 96%;height: 50px;border-radius: 10px;margin-left:2%;margin-top: 8%;
}


h1{
    font-weight: 600;
    color: var(--ion-color-dark);
}
h3{
    font-weight: 600;
    color: var(--ion-color-dark);
    line-height: 5px;
}
p{
    color: black;
    font-size: 15px;
    line-height: 25px;
}
ul li{
    color: black;
    font-size: 15px;
    line-height: 25px;
}
ion-content {
    --background: var(--ion-color-light)
}
