<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
  <ion-buttons slot="start"><ion-menu-button color="dark"></ion-menu-button></ion-buttons>

  <ion-row *ngIf="isMobile">
    <ion-col size="12"><img src="assets/daily_fruit_logo.png" style="width: 30%;height: auto;"></ion-col>
    </ion-row>
    
    <ion-row *ngIf="!isMobile && text">
    
    <ion-col size="1">&nbsp;</ion-col>
    <ion-col size="1"><img src="assets/daily_fruit_logo.png"></ion-col>
    <ion-col size="1">&nbsp;</ion-col>
    <ion-col size="3">
      <!-- <ion-searchbar routerLink="/search" style="margin-left: 80px"> </ion-searchbar> -->
    </ion-col>
    <ion-col size="1">&nbsp;</ion-col>
    <ion-col size="5">
      <ion-button  color="light" class="topBtns" fill="clear" routerLink="/tabs/home" style="margin-left: 10%;">{{ text.menu_home }}</ion-button>
      <ion-button color="light" class="topBtn" fill="clear" routerLink="/item/1">{{ text.menu_products }} </ion-button>
      <ion-button  color="light" class="topBtns" fill="clear" routerLink="/tabs/subscription">{{ text.menu_cart }} <span *ngIf="data && data.cart">&nbsp;({{ data.cart }})</span></ion-button>
    <ion-button  color="light" class="topBtns"  routerLink="/tabs/account">{{ text.menu_account }}</ion-button>
    <ion-button  color="light" class="topBtns" fill="clear" routerLink="/tabs/subscription">{{ text.menu_sub }}</ion-button>
    <!-- <ion-button  color="light" class="topBtns" fill="clear" routerLink="/language">{{ text.menu_lang }}</ion-button> -->
    
    
    </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="text">
<ion-grid [fixed]="true">
<div *ngIf="!data">
<ion-skeleton-text [animated]="true" class="sek1"></ion-skeleton-text>
<ion-skeleton-text [animated]="true" class="sek2"></ion-skeleton-text>
<ion-skeleton-text [animated]="true" class="sek3"></ion-skeleton-text>
</div>

<div *ngIf="data">
<div class="info">
<ion-item lines="none">
<ion-icon name="person-circle" slot="start" style="font-size: 60px;" color="dark"></ion-icon>
<ion-label>
<span class="title">{{ data.user.name }}</span>
<small style="display:block;margin-top: 5px;">{{ data.user.email }}</small>
</ion-label>
</ion-item>
</div>
<br>
<ion-row class="topBtn">
<ion-col size="4" routerLink="/wallet"><ion-icon name="wallet" color="dark"></ion-icon><small>{{ text.wallet }}</small></ion-col>
<ion-col size="4" routerLink="/tabs/subscription"><ion-icon name="document" color="dark"></ion-icon><small>{{ text.subscription }}</small></ion-col>
<ion-col size="4" (click)="shareApp()"><ion-icon name="paper-plane" color="dark"></ion-icon><small>{{ text.ref_title }}</small></ion-col>
</ion-row>
<br>

<ion-list>
<ion-list-header><ion-note>{{ text.my_account }}</ion-note></ion-list-header>

<ion-item  detail routerLink="/setting">
<ion-label>{{ text.account_setting }}</ion-label>
<ion-icon name="settings" slot="start" color="dark"></ion-icon>
</ion-item>

<ion-item   routerLink="/wallet">
<ion-label>{{ text.wallet_balance }}<span style="float:right;font-size: 14px;color:green">{{ data.admin.currency }}{{ data.user.wallet }}</span></ion-label>
<ion-icon name="wallet" slot="start" color="dark"></ion-icon>
</ion-item>

  
  <!-- <ion-item  detail routerLink="/language">
    <ion-label>{{ text.change_lang }}</ion-label>
    <ion-icon name="language" slot="start" color="dark"></ion-icon>
    </ion-item> -->
  
  <ion-item  detail routerLink="/book">
  <ion-label>{{ text.address_book }}</ion-label>
  <ion-icon name="book" slot="start" color="dark"></ion-icon>
  </ion-item>
  
  <ion-item  detail (click)="deleteAccount()">
  <ion-label>{{ text.delete_account }}</ion-label>
  <ion-icon name="trash" slot="start" color="dark"></ion-icon>
  </ion-item> 
  
  <ion-item  detail lines="none" (click)="logout()">
    <ion-label>{{ text.logout }}</ion-label>
    <ion-icon name="log-out" slot="start" color="dark"></ion-icon>
    </ion-item> 

</ion-list>
</div>
</ion-grid>
</ion-content>
